body, html {
  width: 100%;
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

.intro-message>h1 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-social-buttons i {
  font-size: 80%;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.intro-social-buttons>li:last-child {
    margin-bottom: 0;
  }
  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }
  ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 0px 0 0;
}

p.affiliated {
  margin: 0px 0 0;
  text-align: right;
}


#what-we-do-box {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    float: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    font-size: 16.8px;
    font-variant: common-ligatures;
    font-variant-ligatures: common-ligatures;
    height: 303.6px;
    left: 0px;
    line-height: 24px;
    min-height: 1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    top: 0px;
    width: 323.325px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 161.663px 151.8px;
    transform-origin: 161.663px 151.8px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    outline: rgb(51, 51, 51) none 0px;
    padding: 0px 15px;
}

#what-we-do-box-icon {
    box-sizing: border-box;
    color: rgb(197, 164, 126);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    font-size: 75px;
    font-variant: common-ligatures;
    font-variant-ligatures: common-ligatures;
    height: 80.8px;
    line-height: 75px;
    text-align: center;
    text-decoration: none solid rgb(197, 164, 126);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 293.325px;
    column-rule-color: rgb(197, 164, 126);
    perspective-origin: 146.663px 40.4px;
    transform-origin: 146.663px 40.4px;
    caret-color: rgb(197, 164, 126);
    border: 0px none rgb(197, 164, 126);
    margin: 0px 0px 10px;
    outline: rgb(197, 164, 126) none 0px;
}

#what-we-do-box-title {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: Verlag-Book, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    font-size: 27.2px;
    font-variant: common-ligatures;
    font-variant-ligatures: common-ligatures;
    font-weight: normal;
    height: 28.8px;
    line-height: 28.8px;
    text-align: center;
    text-decoration: none solid rgb(51, 51, 51);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-transform: capitalize;
    width: 293.325px;
    column-rule-color: rgb(51, 51, 51);
    perspective-origin: 146.663px 14.4px;
    transform-origin: 146.663px 14.4px;
    caret-color: rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    margin: 5px 0px 10px;
    outline: rgb(51, 51, 51) none 0px;
}

#what-we-do-box-desc {
    box-sizing: border-box;
    color: rgb(119, 119, 119);
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-kerning: normal;
    font-size: 16.8px;
    font-variant: common-ligatures;
    font-variant-ligatures: common-ligatures;
    height: 144px;
    line-height: 24.7582px;
    min-height: 100px;
    text-align: center;
    text-decoration: none solid rgb(119, 119, 119);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 293.325px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 146.663px 72px;
    transform-origin: 146.663px 72px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    margin: 0px 0px 12.6px;
    outline: rgb(119, 119, 119) none 0px;
}
